<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akash.womensafetyapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.ForgotPasswordActivity"></activity>
        <activity android:name=".Activities.ChangePasswordActivity" />
        <activity android:name=".Activities.WebActivity" />
        <activity
            android:name=".Activities.Video_infoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Activities.ItemInfoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Activities.ETrickActivity" />
        <activity android:name=".Activities.AddActivity" />
        <activity
            android:name=".Activities.DisplayContactActivity"
            android:parentActivityName=".Activities.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.HomeActivity" />
        </activity>
        <activity android:name=".Activities.HomeActivity" />
        <activity android:name=".Activities.SignUpActivity" />
        <activity android:name=".Activities.EntryLevelActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginActivity" />
    </application>

</manifest>